/* Main style */

@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400|Oswald');

/* RESET */

*, :before, :after {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    list-style: none;
    font-family: "Open Sans", sans-serif;
}

/* GERAL */

.content {
    max-width: 960px;
    width: 90%;
    margin: 0 auto;
}

.center {
    display: block;
    margin: 0 auto;
    text-align: center;
}

.orange {
    color: #FF6F00;
}


/* HEADER */

.header {
    background-color: #070d59;   
    /* background-image: url("https://www.transparenttextures.com/patterns/always-grey.png"); */
    /* background-image: url("https://www.transparenttextures.com/patterns/diagmonds-light.png"); */
    background-image: url('https://www.transparenttextures.com/patterns/shattered.png');
    /* background-image: url("https://www.transparenttextures.com/patterns/shley-tree-2.png"); */
    /* height: 540px; */
    background-attachment: fixed;
}

.header .header-nav {
    padding: .6rem;
    background-color: #1f3d88a0;
    font-size: .8rem;
    color: #fff;
}

.header .header-nav .nav-logo {
    text-align: center;
    font-weight: bold;
}

.header .header-nav .nav-social {
    float: right;
}

.header .header-nav ul li {
    display: inline-block;
    text-align: center;
    /* float: right; */
    margin-left: 1rem;
}

.header .header-nav ul li a {
    color: #fff;
    -webkit-transition: .3s all ease-in-out;
    -moz-transition: .3s all ease-in-out;
    transition: .3s all ease-in-out;
}

.header .header-nav ul li a:hover {
    color: #070d59;
}

.header .header-nav .phone {
    font-weight: bolder;
}

.header .logo {
    margin-top: 2rem;
}

.header .logo img {
    content: url('https://farm8.staticflickr.com/7897/46702226071_31b5476176_o.png');
    max-width: 8rem;
}

.header .logo h1 {
    margin-top: .2rem;
    text-align: center;
    font-style: italic;
    font-size: 1rem;
    color: #fff;
    text-transform: uppercase;
}

.header .motivacional {
    margin-top: 1rem;
}

.header .motivacional-text {
    max-width: calc(768px - 10%);
    margin-bottom: 2rem;
    color: #fff;
}

.header .motivacional-text h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3rem;
    text-transform: uppercase;
}

.header .motivacional-img {
    position: relative;
    margin-bottom: -6%;
    max-width: calc(768px - 10%);
    -webkit-box-shadow: 0 16px 8px -8px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 16px 8px -8px rgba(0, 0, 0, 0.5);
    box-shadow: 0 16px 8px -8px rgba(0, 0, 0, 0.5);
}

.header .motivacional-img img {
    content: url('https://farm5.staticflickr.com/4916/31760911157_571b39fa43_o.png');
    width: 100%;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}

/* TRADE-PARTNER */

.trade-partner {
    background-color: #fff;
    height: 12rem;
}

.trade-partner h1 {
    font-family: 'Oswald', sans-serif;
    padding-top: 10%;
    font-size: 1rem;
    text-transform: uppercase;
    letter-spacing: .4rem;
}
.trade-partner ul li {
    display: inline-block;
    padding: .4rem;
}

.trade-partner ul li img {
    content: url('https://farm8.staticflickr.com/7830/45786868515_bd7138d467_o.png');
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
    max-width: 2rem;
}

/* HOW-WORK */

.how-work {
    background: linear-gradient(#1f3c88d0,  #1f3c88d0), url('https://farm8.staticflickr.com/7897/46104203994_619c80e3cf_o.jpg');
    background-position: top;
    background-size: cover;
    color: #fff;
}

.how-work h1 {
    border-left: .6rem solid #FF6F00;
}

.how-work h1, .how-much .content-texts h1 {
    /* height: 6rem; */ 
    padding: 0 1rem;
    font-size: 3.4rem;
    text-transform: uppercase;
    font-family: 'Oswald', sans-serif;
}

.how-work p, .how-much .content-texts p {
    margin-top: 1.2rem;
    font-size: .9rem;
    font-weight: 300;
}

/* HOW-MUCH */

.how-much {
    background: linear-gradient(#FF6F00b0,  #FF6F00b0), url('https://farm5.staticflickr.com/4917/46829311261_61847a5848_o.jpg');
    background-position: center ;
    background-size: cover;
    color: #fff;
}

.how-much h1 {
    border-right: .6rem solid #070d59;
}

.how-much .content {
    display: flex;
    align-items: center;
}

.how-much .price {
    position: relative;
    width: 22%;
}

.price:before {
    content: "";
    display: block;
    padding-top: 100%;
}

.how-much .price-content {
    display: flex;
    align-items: center;
    vertical-align: middle;
    padding: 4%;
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    background-color: #070d59;
    text-align: center;
}

.how-much .price-text {
    width: 100%;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.how-much .price-text p:first-child {
    margin-bottom: -.8rem;
    letter-spacing: .4rem;
    font-weight: bold;
    font-family: inherit;
}

.how-much .price-text p:last-child {
    font-size: .8rem;
    font-family: inherit;
}

.how-much .price-text h2 {
    margin-bottom: -2%;
    font-size: 400%;
    font-family: inherit;
}


.how-much .content-texts {
    width: 76%;
    margin-right: 2%;
    text-align: right;
}

/* MEDIAS QUERIES */

@media (max-width: 767.9px) {
    
    .how-work, .how-much {
        padding: 10% 0;
    }

}

@media (max-width: 479.9px) {

    .header .motivacional-img {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;
    }

    .how-work h1, .how-much .content-texts h1 {
        font-size: 2rem;
    }    

    .how-much h1 {
        text-align: right;
    }

}

@media (min-width: 768px) {

    main section:not(.subscribe) {
        height: 24rem;
    }

    .how-work, .how-much {
        height: 100%;
        display: flex;
        align-items: center
    }

}

@media (min-width: 900px) {


}